{% extends "base.html" %}
{% block c_loc %} Aims {% endblock %}
{% block body %}

  <div class="text-center" style="margin:20px;">
      <h1 class="display-5">OUR AIMS</h1>
      <hr>

      <p class="lead">
        The Indian School, Al Ghubra, aims to educate its children to have such
        an understanding that they will give no offence to others, while
        fulfilling the highest ideals of which they are capable. They should
        appreciate the difference between right and wrong, and be familiar with
        the accepted social and moral codes of behaviour. They should have a
        most hearty contempt for all the sneak-thief vices, such as cheating,
        pilfering, tale bearing and petty revenge, and have made up their minds
        that they will be happier telling the truth and suffering than telling
        lies and going scot-free. They should also have a sensible attitude to
        dress and appearance. They should be prepared to resist the yoke of
        superstition and custom, to use their own initiative, and to accept
        discipline, responsibility and leadership. They should outgrow the fear
        of unpopularity or maintaining independent opinion. They should have
        increasing opportunities, as they grow older, to take charge, to
        organize, to act on their own and, in consequence, to make mistakes and
        learn from them.
      </p>

      <p class="lead">
        They should know that education cannot be divorced from standards of
        social behaviour. Their good manners should be as reliable in the
        company of their inferiors as of their superiors or equals. They should
        feel quite at home with strangers, both men and women, and be able to
        take part in an intelligent conversation without shyness or aggression.
        They should find happiness in good fellowship and friendliness, and
        while slow to make friends, should be slower still to make enemies. They
        should have their temper and emotions under control but never be afraid
        of righteous anger.
      </p>

      <p class="lead">
        They should form a strong resolve to serve their country and their
        fellow men and women, both in their daily work and in some of their
        spare time. They should have at least an elementary understanding of the
        main social, political and economic problems of their own country and
        they should believe that some work for the welfare of the poor and some
        share in the duties of the good citizens are obligatory on every
        self-respecting man and woman.
      </p>

      <p class="lead">
        They should develop artistic talent of any kind which they may possess.
        But whether they have such a talent or not, they should be trained to
        appreciate natural beauty, to criticize the art and design of others,
        and form a cultural taste.
      </p>

      <p class="lead">
        They should be able to play games, to ride, swim and run in order to
        develop the virtues of courage, unselfishness and good sportsmanship, to
        win co-ordination between mind and body, and to possess healthy form of
        recreation for their leisure hours. They should know how to win and keep
        good health and should be sensibly but frankly instructed in all matters
        of personal and public hygiene.
      </p>

      <p class="lead">
        They should be able to make good use of their leisure and possess
        resources for their own amusement and pleasure whether alone or in the
        company of their friends. They should have no cause to feel bored either
        by themselves or with .others if cut off from urban entertainments and
        comforts. They should have sufficient inexpensive hobbies, as will
        interest them in every likely situation in which they may find
        themselves.
      </p>

      <p class="lead">
        Finally, they should have a healthy sense of the richness of the
        country?s past history, the heritage of splendour and greatness into
        which they have entered, and they should resolve that their lives shall
        be devoted to her service and to the service of their fellow men and
        women. And if, when the time comes for them to leave, they can claim to
        have achieved more than a few of those ideals, they will be able to look
        back with pride and affection to the years of their schooling, and to
        the school which admitted them as children, and sent them out as men and
        women. We can think of no finer purpose to which we may offer our
        loyalty than the production of such men and women for the service of
        India and her people.
      </p>
      <hr>
  </div>

{% endblock %}