{% extends "base.html" %}
{% block c_loc %} Contact Page {% endblock %}
{% block body %}
    <h1 class="display-5 text-center"> CONTACT US </h1>
    <hr>
    <div class="lead text-center">
        <p><strong> Indian School Al Ghubra</strong></p>
        <p>P.O Box 1887</p>
        <p>C.P.O Seeb</p>
        <p>Postal Code 111</p>
        <p>Muscat</p>
        <p>Sultanate Of Oman</p>

        <br>
        <hr>

        <h6 class="display-6">Contact Numbers</h6>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Main School</td>
              <td>(968) 24491587</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Main School</td>
              <td>(968) 24491605</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Elementary School</td>
              <td>(968) 24492826</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Fax</td>
              <td>(968) 24491424</td>
            </tr>
          </tbody>
        </table>

        <br>
        <hr>

        <h6 class="display-6">Email IDs</h6>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>School</td>
              <td>isghubra@omantel.net.om</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Principal</td>
              <td>principal@indianschool.com</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Secretary to Principal</td>
              <td>secprinisg@gmail.com</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Manager Admin</td>
              <td>isgadmissions@gmail.com</td>
            </tr>
          </tbody>
        </table>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.5880763165515!2d58.39447154191735!3d23.58833064521316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e91ffb8c18d5361%3A0xff4755408907acbb!2sIndian+School+Al+Ghubra!5e0!3m2!1sen!2sin!4v1550215055672" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        <br>
        <hr>
    </div>
{% endblock %}