{% extends "base.html" %}
{% block c_loc %} Fees {% endblock %}
{% block body %}
    <h1 class="display-5 text-center"> CONTACT US </h1>
    <hr>

    <div class="text-center">
        <h6 class="display-6">Elementary School</h6>
        <table class="table" style="margin:30px">
          <tbody>
            <tr>
              <td>KG1 and KG2</td>
              <td>206 OMR</td>
            </tr>
            <tr>
              <td>Class 1</td>
              <td>203 OMR</td>
            </tr>
          </tbody>
        </table>

        <br>
        <hr>

        <h6 class="display-6">Main School</h6>
        <table class="table" style="margin:30px">
          <tbody>
            <tr>
              <td>Class 3</td>
              <td>197 OMR</td>
            </tr>
            <tr>
              <td>Class 4 and 5</td>
              <td>194 OMR</td>
            </tr>
            <tr>
              <td>Class 6, 7, and 8</td>
              <td>203 OMR</td>
            </tr>
            <tr>
              <td>Class 9 and 10</td>
              <td>208 OMR</td>
            </tr>
            <tr>
              <td>Class 11 and 12</td>
              <td>208 OMR</td>
            </tr>
          </tbody>
        </table>
    </div>

{% endblock %}