{% extends "base.html" %}
{% block c_loc %} HomePage {% endblock %}
{% block body %}
    <div id="principal_message" class="text-center">
        <h1 class="display-6"> FOUNDER'S MESSAGE </h1>
        <img src="https://www.indianschool.com/images/founder1.jpg" class="rounded" width="600" alt="loading">
        <p></p>
        <figure>
            <blockquote class="blockquote">
                <p>
                    <strong>IN THE PURSUIT OF EXCELLENCE IN EDUCATION</strong>
                </p>
                <p></p>
                <p>
                    Twenty five years – sounds like a long time though it feels like it was only the other day we were drawing up plans for a project that would be very close to our hearts: Indian School Al Ghubra – Indian School Ghala as it was known then – we have come a long way, and how!
                </p>
                <p></p>
                <p>
                    Our first concern has always been to provide quality education, education with a purpose – to shape the future of our world. Moulding young minds into responsible citizens who will steer the world to greater frontiers and into whose care we place ourselves, requires far sightedness, sensitivity and the right perspective. This is what we have strived to achieve as an institution.
                </p>
                <p></p>
                <p>
                    Thus academics is not the only purpose of education. Co scholastics is, if not more, equally important. Here I must proclaim that each year we set new benchmarks for ourselves. Be it academics or co-scholastic areas, we are never contented with basking in the past glory. On the contrary it spurs us to do more.
                </p>
                <p></p>
                <p>
                    Any institution has an identity because of the many minds that come together for a common purpose – unique individuals that work as one group. Time and again our teaching faculty, under the leadership of principals and vice principals, both in the past and the present, have made huge contributions that have brought us to the centre stage in the field of education. Our reputation as one of the best is confirmed by the many parents who choose to place their children in our care.
                </p>
                <p></p>
                <p>
                    Our students, the ambassadors of our school, have made it to various prestigious institutions around the globe to pursue their higher education; and many more doing well in their chosen fields of careers. This is testimony of the impact we have made in the region.
                </p>
                <p></p>
                <p>
                    This brings to mind another aspect of the kind of education we provide. As a school we have always taken up initiatives keeping in mind the bigger picture. I believe each child that enters the portal of this institution should take away something for life. Our various community service projects give our students the opportunity to explore and discover the pleasures and satisfaction of giving back to society.
                </p>
                <p></p>
                <p>
                    I do not think we are done yet. There is more to be achieved. As we celebrate twenty five years of this institution, we need to look ahead into the future. We need to go that extra mile to prepare our children to face the challenges of the ever dynamic world. The success of this school would be when each child is well equipped to take on the world with confidence. The school will have to work in tandem with the home in order to bring out the potential in each individual child.
                </p>
                <p></p>
                <p>
                    As we celebrate the twenty fifth year of our institution, I also revel knowing that the country of our residence celebrates its forty fifth year of the Glorious Renaissance. It would not suffice to say how grateful we are to His Majesty Sultan Qaboos bin Said and this beautiful country for the warmth and magnanimity accorded to the Indian expatriate community who proudly call Oman their home away from home.
                </p>
                <p></p>
                <p>
                    To the teaching faculty and the administrative staff, I wish to express my gratitude for the crucial role you play as important members of this institution.  Parents, the support extended to us and more significantly, the trust you have reposed in us continue to provide the incentive to do better each time we have reached a milestone. To all the students of this school, from the very first batch to the current group – soar to even greater heights, while staying true to your roots. Take pride in your achievements while keeping in mind that you owe them also partly to the support of your parents as well as your school.
                </p>
                <p></p>
                <p>
                    Greetings on the occasion of the twenty fifth year of the school, and best wishes.
                </p>
                <p></p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Dr. P. Mohammed Ali<br>Founder<br>indian School Al Ghubra
            </figcaption>
        </figure>
    </div>
{% endblock %}