{% extends "base.html" %}
{% block c_loc %} Management Committee {% endblock %}
{% block body %}
<div class="text-center">
  <br>
  <h1 class="display-6"> Our management committee </h1>
  <br>
  <img src="https://www.indianschool.com/images/IMG-20161214-WA00111.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Mr. Ahmed Rayees <br> President </p>

  <hr>

  <img src="https://www.indianschool.com/images/Mr-KA-Sunil1.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Mr. Sunil K.A <br> Convener </p>

  <hr>

  <img src="https://www.indianschool.com/images/mc_najeeb.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Mr. C.M Najeeb <br> Member </p>

  <hr>

  <img src="https://www.indianschool.com/images/Mr-Mitrangshu.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Mr. Mitrangshu Dutta <br> Member </p>

  <hr>

  <img src="https://www.indianschool.com/images/Ragini_0011.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Mrs. Ragini Vaishnav <br> Member </p>

  <hr>

  <img src="https://www.indianschool.com/images/dr_renchi_mathew.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Dr. Renchi Mathew <br> Member </p>

  <hr>

  <img src="https://www.indianschool.com/images/photo_of_Dr_Sebastian.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Dr. Sebastian Thomas <br> Member </p>

  <hr>

  <img src="https://www.indianschool.com/images/prof_a_vallavaraj.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Prof. A. Vallavaraj <br> Member </p>

  <hr>

  <img src="https://www.indianschool.com/images/Mrs-Papri-Ghosh1.jpg" class="rounded" alt="loading" width="400">
  <p class="lead"> Mrs. Papri Ghosh <br> Member - Secretary </p>

  <hr>
</div>
{% endblock %}