{% extends "base.html" %}
{% block c_loc %} Our Mission {% endblock %}
{% block body %}
<div id="MISSION">
  <div class="text-center display-6"><h3>Our Mission</h3></div>
</div>
  <br>
    <br>
    <div class="innercontent bulletbg2-ul" style="margin:20px;">
      <h4 class="text-center display-6">Our Mission</h4>

      <p class="text-center lead">
        To provide education to our students which will ensure their total
        development, instill human values in them and inspire them to become
        passionate learners, responsible citizens, and confident and successful
        individuals
      </p>
      <br>
      <h4 class="text-center display-6">Our Vision</h4>

      <p class="text-center lead">
        In order that the school becomes a recognized centre of excellence in
        the field of education we should.
      </p>

      <p class="text-center lead">

          - Ensure academic excellence by creating an effective, innovative and
          dynamic learning environment by result oriented and professional
          staff.

        <br>
          - Foster such values among the students so that they will choose to
          actively and personally contribute to the improvement of the
          community.
        <br>
          - Develop in students, individual thinking abilities so that they use
          their ethical judgement to make the right choices in the rapidly
          changing and challenging environment.

      </p>
    </div>

{% endblock %}