{% extends "base.html" %}
{% block c_loc %} President {% endblock %}
{% block body %}
    <div id="president_message" class="text-center" style="margin:20px;">
        <h1 class="display-6"> PRESIDENT'S MESSAGE </h1>
        <img src="https://www.indianschool.com/images/IMG-20161214-WA00111.jpg" class="rounded" width="400" alt="loading">
        <p></p>
        <figure>
            <blockquote class="blockquote">
                <p>
                    Education is not merely acquirement of facts but also of values. Therefore, we, at Indian School Al Ghubra, aim to map academic excellence with a good human value system, which in myriad ways, is ingrained in the culture of the school. Today, as we have reached the coveted silver jubilee of our existence, we pledge to work for every child, and in the process, open new vistas in the area of education. Set up in 1990, our school has traveled through all these years and gained the trust and appreciation of thousands of students and parents alike.
                </p>
                <p></p>
                <p>
                    Our school has set new paradigm in the field of academics and co-curricular activities. Our alumni are well-established across the globe and continue to bring glory to their alma mater with their remarkable achievements.
                </p>
                <p></p>
                <p>
                    It is my honour and pleasure to write a few lines about this prestigious educational Institution as the bells of silver jubilee resound in the ears of everyone who is connected to the school. I congratulate the school on having made a significant impact on the lives of so many bright minds. The motto ‘Strive for the Best’ speaks volumes about the spirit of the school and inspires the budding students.
                </p>
                <p></p>
                <p>
                    This educational institution, like every other institute had a small and humble beginning. In twenty five years of existence it continues to remain an institute of service catering to the educational needs of the children.
                </p>
                <p></p>
                <p>
                    During the past twenty five years, the institute has created an environment and ambience that fosters learning as opportunities are provided to the students to explore and grow, through situations that challenge them to identify their strengths and reinforce them. With the smart classrooms and hands on experience which instills judicious outlook, the students strive to excel in academics as well as sports.
                </p>
                <p></p>
                <p>
                    The participation of our students in the community service programmes initiated by Round Square help our students to meet and share their views with culturally different but like-minded people. Here, at ISG the students aspire to become global citizens and strive for the betterment of the world rather than focusing only on individual progress. Our aim is to make our students confident human beings by inculcating a set of high values which enables them to develop their moral reasoning ability.
                </p>
                <p></p>
                <p>
                     As a Global member of Round Square the school has sent students to different parts of the world on exchanges and to conferences. Indian School Al Ghubra also embarked upon a new journey with the commencement of International Curriculum of CBSE from August 2010, making it the first Indian school in Oman to become CBSEi.
                </p>
                <p></p>
                <p>
                    This exceptional success of our school for the last 25 years has been possible because of the benevolence of the Government of His Majesty Sultan Qaboos. The enduring furtherance from the Indian Embassy in Oman, the Central Board of Secondary Education in New Delhi, the Directorate General of Private Schools of Oman’s Ministry of education, the Board of Indian Schools in Oman has been a great support. Dr. P Mohammed Ali, Founder of our school has left no stone unturned in providing the schools with the latest technology and the best facilities. I am also grateful to the members of School Management Committee who have worked relentlessly to make our school one of the finest schools in Oman. And most importantly I express my gratitude towards the teaching and non-teaching staff for their devotion and sincerity in making our school the pioneer teaching institute in Oman.
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Mr. Ahmed Rayees<br>President, school management committee<br>indian School Al Ghubra
            </figcaption>
        </figure>
    </div>
{% endblock %}