{% extends "base.html" %}
{% block c_loc %} Principal {% endblock %}
{% block body %}
    <div id="principal_message" class="text-center" style="margin:20px;">
        <h1 class="display-6"> PRINCIPAL'S MESSAGE </h1>
        <img src="https://www.indianschool.com/images/principal11.jpg" class="rounded" width="400" alt="loading">
        <p></p>
        <figure>
            <blockquote class="blockquote">
                <p>
                    This 20-year milestone is a good time to reflect on a journey that started out with a definite vision and
                    firm goal that has taken us to remarkable heights. Leaving behind the initial trials and tribulations,
                    we have steadfastly marched on , coming out all the more stronger and wiser.
                    Along the way we have experienced some exceptional magical moments, and created memories that will be
                    fondly remembered in the years ahead. For me personally, it has been an honor and a privilege to be a part
                    of this journey , one which has been imbued with wonderful memories.
                </p>
                <p></p>
                <p>
                    Growing as I have with the school, what I have in front of me today is an institution that has carved a
                    niche for itself as one of the premier educational institutions in the Sultanate. It stands as a testament
                    of the years of hard work that have gone in , to make it what it is today, with the actualization of goals
                    that were set. It mirrors the heights that can be achieved through sheer dedication, commitment and hard
                    work. However, even as I acknowledge the success that we have achieved in diverse fields, I realize that
                    this is not a time to rest on our laurels but to set further goals in a bid to scale yet greater heights.
                </p>
                <p></p>
                <p>
                    In the words of C.S.Lewis- 'Achievement begets bigger achievements. The immense satisfaction that you
                    derive on achieving success inspires you to achieve more.' And hence, even as we commemorate the road that
                    we have all travelled together in the last two decades , I look ahead starry eyed setting new yardsticks of
                    excellence, knowing that we will meet the challenges ahead with the same determination and fortitude that
                    we have in the past. Thus , just as much as it is a time to reflect on that which has worked, often
                    exceedingly well, in the interest of building on the strengths of our School. It is also a time to consider
                    what can be changed. It is a time to ponder on , where and how each one of us might make a difference,
                    have an impact, so as to grow stronger and shine brighter. This is because at all times our children are
                    the core around which we centre our efforts, as we strive to produce responsible citizens who will be agents
                    of positive change in the world.
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Mrs. Papri Ghosh<br>Principal<br>indian School Al Ghubra
            </figcaption>
        </figure>
    </div>
{% endblock %}