{% extends "base.html" %}
{% block c_loc %} School Timetables {% endblock %}
{% block body %}
    <div id="primary school">
        <p></p>
        <h6 class="display-6 text-center"> Elementary School: Sunday to Thursday </h6>

<!--        table 1-->
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Classes KG I and II</td>
              <td>8:10 am to 12:20 pm</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Classes 1 and 2</td>
              <td>8:10 am to 1:15 pm</td>
            </tr>
          </tbody>
        </table>

        <p></p>
        <hr>
<!--        table 2-->
        <h6 class="display-6 text-center"> Main School : Sunday to Thursday </h6>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Classes 3 to 5</td>
              <td>8:10 am to 1:25 pm</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Classes 6 to 8</td>
              <td>7:00 am to 1:30 pm</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Classes 9 to 12</td>
              <td>7:00 am to 1:45 pm</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>School Office and Administration</td>
              <td>7:00 am to 1:30 pm / 4:00 pm to 6:00 pm</td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}