{% extends "base.html" %}
{% block c_loc %} Syllabus {% endblock %}
{% block body %}
    <div class="text-center">

        <div class="dropdown">
          <h6 class="display-6"> Syllabus</h6>
          <br>
          <button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Navigate this page
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#cl1">Class 1</a></li>
              <li><a class="dropdown-item" href="#cl2">Class 2</a></li>
              <li><a class="dropdown-item" href="#cl3">Class 3</a></li>
              <li><a class="dropdown-item" href="#cl4">Class 4</a></li>
              <li><a class="dropdown-item" href="#cl5">Class 5</a></li>
              <li><a class="dropdown-item" href="#cl6">Class 6</a></li>
              <li><a class="dropdown-item" href="#cl7">Class 7</a></li>
              <li><a class="dropdown-item" href="#cl8">Class 8</a></li>
              <li><a class="dropdown-item" href="#cl9">Class 9</a></li>
              <li><a class="dropdown-item" href="#cl10">Class 10</a></li>
              <li><a class="dropdown-item" href="#cl11">Class 11</a></li>
              <li><a class="dropdown-item" href="#cl12">Class 12</a></li>
          </ul>
        </div>

        <h6 class="display-6">Class 1</h6>
        <hr>
        <a id="cl1" target="_blank" href="https://indianschool.com/downloads/syllabus/CL_1_SECOND_LANG_HINDI_SYLLABUS-BREAK-UP_2019-20.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/Final_HHW_class1_2017-18.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 2</h6>
        <a id="cl2" target="_blank" href="https://indianschool.com/downloads/syllabus/CL_2_SECOND_LANG_HINDI_SYLLABUS-BREAK-UP_2019-20.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/Final_HHW_class_2_2017-18.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 3</h6>
        <a id="cl3" target="_blank" href="https://indianschool.com/downloads/syllabus/Final_HHW_class_2_2017-18.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/Final_HHW_class_2_2017-18.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 4</h6>
        <a id="cl4" target="_blank" href="https://indianschool.com/downloads/syllabus/Final_HHW_class_2_2017-18.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 5</h6>
        <a id="cl5" target="_blank" href="https://indianschool.com/downloads/syllabus/Final_HHW_class_2_2017-18.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 6</h6>
        <a id="cl6" target="_blank" href="https://indianschool.com/downloads/syllabus/class_6_chemistry.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/class_6_social_science.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 7</h6>
        <a id="cl7" target="_blank" href="https://indianschool.com/downloads/syllabus/SYL_2019-20_MALAYALAM_2ND_LANG-CLASS-VII.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/CLASS_7_FRENCH.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 8</h6>
        <a id="cl8" target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus_CL_8_Sanskrit_3rd_Lang_2017_18.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus_CL_8_Science_2K17.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 9</h6>
        <a id="cl9" target="_blank" href="https://indianschool.com/syllabus.php?class=Y2xhc3MtLTI=&year=eWVhci0tMjAxOA==">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/syllabus.php?class=Y2xhc3MtLTI=&year=eWVhci0tMjAxOA==">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 10</h6>
        <a id="cl10" target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus_CL_10_Science__2K17-half_yearly.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus_CL_10_Science__2K17-half_yearly.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>

        <hr>

        <h6 class="display-6">Class 11</h6>
        <a id="cl11" target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus_CL_10_2nd_Lang_Mal_2K17-half_yearly.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus_CL_10_2nd_Lang_Mal_2K17-half_yearly.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>

        <h6 class="display-6">Class 12</h6>
        <a id="cl12" target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus__CL_10__HINDI__2K17_half_yearly1.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2020-2021</p>
        </a>
        <a target="_blank" href="https://indianschool.com/downloads/syllabus/Syllabus__CL_10__HINDI__2K17_half_yearly1.pdf">
            <img height="400" src="https://preview.redd.it/x77bxjjfp1z51.png?width=988&format=png&auto=webp&s=dae4a125479d16a46e7c130e8b4f4dfc552d3628">
            <p class="lead">2021-2022</p>
        </a>

        <hr>
    </div>
{% endblock %}