{% extends "base.html" %}
{% block c_loc %} Video Gallery {% endblock %}
{% block body %}
    <h1 class="display-5 text-center">VIDEO GALLERY</h1>
    <hr>
    <center>
        <div id="videos">
            <h2 class="display-6 text-center">World Environment Day 2021</h2>
            <iframe width="70%" height="60%" src="https://www.youtube.com/embed/0_e-wmnYPsw?rel=0" allowfullscreen></iframe>
            <hr>
            <h2 class="display-6 text-center">Thanksgiving Song - ISG School Choir</h2>
            <iframe width="70%" height="60%" src="https://www.youtube.com/embed/Qp6Yjur-c6I?rel=0" allowfullscreen></iframe>
            <hr>
            <h2 class="display-6 text-center">ISG Alumnus at Republic Day Celebrations 2021</h2>
            <iframe width="70%" height="60%" src="https://www.youtube.com/embed/fA5wizAwAYQ?rel=0" allowfullscreen></iframe>
            <hr>
            <h2 class="display-6 text-center">National Day of Oman - Department of Arabic and class 9D</h2>
            <iframe width="70%" height="60%" src="https://www.youtube.com/embed/mM6j_Hswi5E?rel=0" allowfullscreen></iframe>
            <hr>
            <h2 class="display-6 text-center">E Ahamed Model United nations 2020</h2>
            <iframe width="70%" height="60%" src="https://www.youtube.com/embed/pYsFgxEdl9w?rel=0" allowfullscreen></iframe>
            <hr>
            <h2 class="display-6 text-center">EAMUNC Through the Years</h2>
            <iframe width="70%" height="60%" src="https://www.youtube.com/embed/2BpBNW1GBVg?rel=0" allowfullscreen></iframe>
            <hr>
            <h2 class="display-6 text-center">Hindi Divas - Juniors</h2>
            <iframe width="70%" height="60%" src="https://www.youtube.com/embed/rCTt9ZrSknc?rel=0" allowfullscreen></iframe>
            <hr>
            <br>
        </div>
    </center>
{% endblock %}